version: '3.7'

services:
  sulmun2yong-test-db:
    image: mysql:latest
    container_name: sulmun2yong-test-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    expose:
      - "3306"
    ports:
      - "3306:3306"
    volumes:
      - sulmun2yong-test-db:/var/lib/mysql

volumes:
  sulmun2yong-test-db: