<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>
    <h1>로그인 페이지</h1>
    <hr/>
    <div>
        <img src='https://backend15.s3.ap-northeast-2.amazonaws.com/login-button/naver.png' style='width: 200px' alt="네이버 로그인" onclick="location.href='/oauth2/authorization/naver'">
    </div>
    <div>
        <img src='https://backend15.s3.ap-northeast-2.amazonaws.com/login-button/google.png' style='width: 200px' alt="구글 로그인" onclick="location.href='/oauth2/authorization/google'">
    </div>
    <div>
        <img src='https://backend15.s3.ap-northeast-2.amazonaws.com/login-button/kakao.png' style='width: 200px' alt="카카오 로그인" onclick="location.href='/oauth2/authorization/kakao'">
    </div>
</body>
</html>
