<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{HH:mm:ss.SSS}){faint} %clr(%-5level) %clr([%X{correlationId:-}]){magenta} %clr([%thread]){faint} %clr(%logger{36}){cyan} - %msg%n"/>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>
</configuration>
